<aside class="sidebar">
    <div class="sidebar-header">
        <h3>Fala Aí!</h3>
    </div>

    <nav class="sidebar-menu">
        <a class="menu-btn" href="/app/dashboard.html">
            Chamados em aberto
        </a>

        <a class="menu-btn" href="/app/abrir-chamado.html">
            Abrir Chamado
        </a>

        <a class="menu-btn" href="/app/meus-chamados.html">
            Meus Chamados
        </a>

        <a class="menu-btn admin-gestor-view" href="/app/gerenciar-usuario.html" style="display: none;">
            Gerenciar Usuários
        </a>
        <a class="menu-btn admin-gestor-view" href="/app/chamados.html" style="display: none;">
            Chamados Gerais
        </a>

        <a class="menu-btn" href="/app/conta.html">
            Conta
        </a>
    </nav>

    <div class="sidebar-footer">
        <button id="btn-sair" class="menu-btn logout-btn">
            Sair
        </button>
    </div>
</aside>